body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
    color: rgb(135, 52, 52);
}
#chat-container{
    display:flex;
    height: 100vh;
}

#user-list, #chat-messages{
    padding: 22px;
}
#user-list{
    width: 200px;
    background-color: #7d7f8d;
    border-right: 2px solid black;

}
#all-users{
    list-style: none;
    padding: 0;
    margin: 0;
}
#all-users li{
    cursor: grab;
    padding: 10px;
    border-bottom: 2px solid goldenrod;
    transition: background-color 0.5s ease;
}

#all-users li.selected{
    background-color: whitesmoke;
    transition: background-color 0.5s ease;
}

#chat-messages{
    flex-grow: 1;
    min-height: 320px;
    border-left: 2px solid black;
    padding-left: 22px;
    overflow-y: auto;
}
#message-input{
    display: flex;
    overflow: auto;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: wheat;
    padding: 10px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}
#message{
    flex-grow: 1;
    margin: 7px 9px;
    overflow: auto;
    resize: none;
    box-sizing: border-box;
    height: 45px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px;
}

#send-button{
    margin-right: 23px;
    background-color: #2f3a47;
    color: gainsboro;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    cursor: grab;
    transition: background-color 0.5s;
    
}
#send-button:hover{
    background-color: honeydew;

}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.chat-message{
    animation: fadeIn 0.5s ease;
}

#all-users li:hover{
    background-color: darkgrey;
}
#chat-messages div{
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 7px;
    background-color: burlywood;
    
}

#chat-messages div:hover{
    background-color: grey;
}

#chat-messages div:last-child{
    display: none;
}

#sticker-trigger{
    margin-right: 12px;
    cursor: grabbing;
    transition: transform 0.4s ease;
}

#sticker-trigger:hover{
transform: scale(1.5);
}

#sticker-list{
    display: none;
    flex-wrap: wrap;
    position: fixed;
    bottom: 45px;
    right: 12px;
    background-color: #fff;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 6px;
    z-index: 2;
    transition: opacity 0.5s ease-in-out;
}

#sticker-list.show{
    display: flex;
    opacity: 1;
}
.sticker{
    font-size: 22px;
    margin: 6px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}
.sticker:hover{
    transform: scale(1.1);
}
.hidden{
    display: none;
}

