body{
    font:400 18px/1.7 'Montserrat', sans-serif;
    color: darkslategray;
    background-color: bisque;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.section-center{
    position: absolute;
    top: 25%;
    left: 0;
    display: block;/*Блочный элемент*/
    width: 90%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);

}
h1{
    font-family: fantasy;
    font-size: 70px;
    text-align: center;
    -webkit-text-stroke: 2px rgb(135, 52, 52);
    -webkit-text-fill-color: transparent;
}